@font-face {
	font-family: 'aol-icons';
	src:  url('./assets/fonts/aol-icons.eot') format('embedded-opentype'),
		url('./assets/fonts/aol-icons.ttf') format('truetype'),
		url('./assets/fonts/aol-icons.woff') format('woff'),
		url('./assets/fonts/aol-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	@extend %icon;
}

%icon {
    font-family: 'aol-icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.46em;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-aol-logo:before {
  content: "\e914";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-auspost-logo:before {
  content: "\e915";
}
.icon-bbq-accessories:before {
  content: "\e916";
}
.icon-blog-post:before {
  content: "\e902";
}
.icon-bomb:before {
  content: "\e903";
}
.icon-call-centre:before {
  content: "\e904";
}
.icon-cart-big-cross:before {
  content: "\e917";
}
.icon-cart-minus-sign:before {
  content: "\e918";
}
.icon-cart-small-cross:before {
  content: "\e919";
}
.icon-checkout-button-success:before {
  content: "\e91a";
}
.icon-checkout-datepicker:before {
  content: "\e91b";
}
.icon-checkout-gift:before {
  content: "\e91c";
}
.icon-checkout-house:before {
  content: "\e91d";
}
.icon-checkout-price:before {
  content: "\e91e";
}
.icon-checkout-question:before {
  content: "\e91f";
}
.icon-checkout-truck:before {
  content: "\e920";
}
.icon-checkout-visa:before {
  content: "\e921";
}
.icon-cooking:before {
  content: "\e905";
}
.icon-empty-radio-button:before {
  content: "\e906";
}
.icon-faq-nav-left:before {
  content: "\e922";
}
.icon-faq-nav-right:before {
  content: "\e923";
}
.icon-free-return-14-days:before {
  content: "\e924";
}
.icon-free-return-arrow:before {
  content: "\e925";
}
.icon-genderless-silhouette:before {
  content: "\e926";
}
.icon-grid-container:before {
  content: "\e907";
}
.icon-grid-tile:before {
  content: "\e908";
}
.icon-guides:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e90a";
}
.icon-mobile-close-icon:before {
  content: "\e927";
}
.icon-nav-bbqs:before {
  content: "\e928";
}
.icon-nav-cooktops:before {
  content: "\e929";
}
.icon-nav-dishwashers:before {
  content: "\e92a";
}
.icon-nav-fridges:before {
  content: "\e92b";
}
.icon-nav-fridges-top:before {
  content: "\e92c";
}
.icon-nav-heating-cooling:before {
  content: "\e92d";
}
.icon-nav-hotoffers:before {
  content: "\e92e";
}
.icon-nav-location:before {
  content: "\e92f";
}
.icon-nav-mobile-call-us:before {
  content: "\e930";
}
.icon-nav-mobile-faq:before {
  content: "\e931";
}
.icon-nav-search:before {
  content: "\e932";
}
.icon-nav-shoppingcart:before {
  content: "\e933";
}
.icon-nav-small-appliances:before {
  content: "\e934";
}
.icon-nav-sub-accessories:before {
  content: "\e935";
}
.icon-nav-sub-aircons:before {
  content: "\e936";
}
.icon-nav-sub-airtreatment:before {
  content: "\e937";
}
.icon-nav-sub-audio:before {
  content: "\e938";
}
.icon-nav-sub-bbqrangehoods:before {
  content: "\e939";
}
.icon-nav-sub-beveragefridge:before {
  content: "\e93a";
}
.icon-nav-sub-camera:before {
  content: "\e93b";
}
.icon-nav-sub-coffeemachines:before {
  content: "\e93c";
}
.icon-nav-sub-cooker:before {
  content: "\e93d";
}
.icon-nav-sub-cookingappliances:before {
  content: "\e93e";
}
.icon-nav-sub-dehydrator:before {
  content: "\e93f";
}
.icon-nav-sub-dryers:before {
  content: "\e940";
}
.icon-nav-sub-dvd:before {
  content: "\e941";
}
.icon-nav-sub-fans:before {
  content: "\e942";
}
.icon-nav-sub-floorcare:before {
  content: "\e943";
}
.icon-nav-sub-foodwaste:before {
  content: "\e944";
}
.icon-nav-sub-freezers:before {
  content: "\e945";
}
.icon-nav-sub-headphones:before {
  content: "\e946";
}
.icon-nav-sub-heaters:before {
  content: "\e947";
}
.icon-nav-sub-hometheatre:before {
  content: "\e948";
}
.icon-nav-sub-hotwatersystems:before {
  content: "\e949";
}
.icon-nav-sub-irons:before {
  content: "\e94a";
}
.icon-nav-sub-kitchenbundles:before {
  content: "\e94b";
}
.icon-nav-sub-microwaves:before {
  content: "\e94c";
}
.icon-nav-sub-mixingblending:before {
  content: "\e94d";
}
.icon-nav-sub-more:before {
  content: "\e94e";
}
.icon-nav-sub-oven:before {
  content: "\e94f";
}
.icon-nav-sub-phones:before {
  content: "\e950";
}
.icon-nav-sub-rangehoods:before {
  content: "\e951";
}
.icon-nav-sub-sinks:before {
  content: "\e952";
}
.icon-nav-sub-stove:before {
  content: "\e953";
}
.icon-nav-sub-taps:before {
  content: "\e954";
}
.icon-nav-sub-toaster:before {
  content: "\e955";
}
.icon-nav-sub-tvs:before {
  content: "\e956";
}
.icon-nav-sub-tvs-ce:before {
  content: "\e957";
}
.icon-nav-sub-vacuums:before {
  content: "\e958";
}
.icon-nav-sub-washerdryer:before {
  content: "\e959";
}
.icon-nav-tv-audio-electronics:before {
  content: "\e95a";
}
.icon-nav-washers:before {
  content: "\e95b";
}
.icon-news:before {
  content: "\e90b";
}
.icon-ordering:before {
  content: "\e95c";
}
.icon-printer-icon:before {
  content: "\e90c";
}
.icon-product-customer-care:before {
  content: "\e95d";
}
.icon-product-hurry:before {
  content: "\e95e";
}
.icon-product-payment:before {
  content: "\e95f";
}
.icon-product-return:before {
  content: "\e960";
}
.icon-product-testimonial:before {
  content: "\e961";
}
.icon-product-video-rectangular:before {
  content: "\e962";
}
.icon-receipt:before {
  content: "\e90d";
}
.icon-refine:before {
  content: "\e90e";
}
.icon-returns:before {
  content: "\e963";
}
.icon-reviews:before {
  content: "\e90f";
}
.icon-shopping-bag:before {
  content: "\e910";
}
.icon-slider-arrow-left:before {
  content: "\e964";
}
.icon-slider-arrow-right:before {
  content: "\e965";
}
.icon-slide-to-scroll:before {
  content: "\e966";
}
.icon-social-email:before {
  content: "\e967";
}
.icon-social-facebook:before {
  content: "\e968";
}
.icon-social-gogle:before {
  content: "\e969";
}
.icon-social-instagram:before {
  content: "\e911";
}
.icon-social-pinterest:before {
  content: "\e96a";
}
.icon-social-twitter:before {
  content: "\e96b";
}
.icon-social-youtube:before {
  content: "\e96c";
}
.icon-sort:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-subnav-dryer:before {
  content: "\e96d";
}
.icon-subnav-front-loader:before {
  content: "\e96e";
}
.icon-subnav-top-loader:before {
  content: "\e96f";
}
.icon-tools:before {
  content: "\e970";
}
.icon-top-nav-customersupport:before {
  content: "\e971";
}
.icon-top-nav-freedelivery:before {
  content: "\e972";
}
.icon-top-nav-recycling:before {
  content: "\e973";
}
.icon-top-nav-value:before {
  content: "\e974";
}
.icon-validation-error:before {
  content: "\e975";
}
.icon-validation-success:before {
  content: "\e976";
}
.icon-video:before {
  content: "\e977";
}
