@import '../../../sass/base/variables';
.navigation-bar {
    width: 100%;
    background: $color-navigation-bar;
}

.navbar {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.navbar-nav {
    flex-grow: 1;
    flex-basis: 0;
}

.nav-item {
    width: 100%;
    &:last-child {
        background: $color-hot-offer;
    }
}

.nav-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-size: 12px;
}

@media screen and (max-width: $break-sm-max) {
    .nav-link {
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media screen and (min-width: $break-md-min) {
    .navbar {
        padding: 0;
    }
    .nav-item {
        &.dropdown:hover>.dropdown-menu {
            display: block;
        }
    }
    .navbar-brand {
        display: none;
    }
}