<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <a class="cursor-pointer" href="javascript:void(0)" routerLink="/">
                <img src="../assets/images/logo.png">
            </a>
        </div>
        <div class="col-3">
             <a class="cursor-pointer" href="javascript:void(0)" routerLink="/about">
               About Us
            </a>
        </div>
         <div class="col-3">
             <a class="cursor-pointer" href="javascript:void(0)" routerLink="/account">
               My Account
            </a>
        </div>
    </div>
</div>

<app-navigation-bar [categories]="categories"></app-navigation-bar>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>